/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: Roboto, sans-serif;
  font-weight: 700; /*rownie dobrze moze byc bold zamiast 700*/
  color: #ffffff;
  /*background-color: #000000;  łatwiejszy odczyt danych*/
  padding-top: 50px;
}

.container {
  max-width: 1120px;
  width: 96%;
  padding: 0 2%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-weight: 700;
  padding-bottom: 60px;
}

.heading > .content-title {
  font-size: 78px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto 35px;
}

.content-title ~ .content-description {
  /* same as .heading > .content-description */
  font-size: 21px;
  max-width: 700px;
  width: 96%;
  padding: 0 2%;
  margin: 0 auto;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
  color: #000000;
}

.navbar .navbar-brand {
  padding: 10px 15px 10px 70px;
}

.navbar .navbar-brand .brand-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.navbar .navbar-nav > li > a {
  font-size: 18px;
  text-transform: uppercase;
}

.navbar .navbar-nav > li > a:hover {
  color: #777777;
}

.navbar-right li > a:before {
  font-size: 47px;
  margin-left: -20px;
  content: "\b7";
  position: absolute;
}

.navbar .navbar-nav > li > a:hover:before {
  color: #000000;
}

.navbar-right li:first-child > a:before {
  content: "";
}

.navbar li:focus,
.navbar li:active,
.navbar .brand-name:active {
  background-color: #eeeeee;
  transition: 0.1s;
}

.navbar a:focus,
.navbar a:active {
  outline: thin dotted #ff0000;
}

.welcome {
  min-height: 100vh;
  color: #ffffff;
  padding-bottom: 60px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.welcome .welcome-text {
  font-size: 7vw;
  font-weight: 400;
  padding-left: 20px;
}

.welcome .welcome-text .welcome-title {
  margin-top: 0;
  font-size: 8vw;
  font-weight: 700;
  text-transform: uppercase;
}

.features,
.gallery,
.team,
.awards,
.reviews,
.contact {
  padding: 100px 0;
}

.features {
  background-color: #009688;
}

.features .feature .fa {
  font-size: 36px;
  padding-right: 10px;
}

.features .feature {
  text-align: center;
}

.features .feature .feature-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}

.features .feature .feature-description {
  font-size: 16px;
}

.features .feature-footer {
  font-size: 22px;
  text-align: center;
  padding-top: 60px;
}

.gallery {
  background-color: #03a9f4;
}

.gallery .container a > img {
  width: 25%;
}

.gallery .blueimp-gallery .modal-content {
  background-color: transparent;
  box-shadow: none;
}

.gallery .blueimp-gallery .modal-header,
.gallery .blueimp-gallery .modal-footer,
.gallery .blueimp-gallery .modal-content {
  border: 0;
}

.gallery .blueimp-gallery .modal-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery .blueimp-gallery .modal-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.gallery .blueimp-gallery .close {
  font-size: 53px;
  margin-top: -2px;
  color: #ffffff;
  opacity: 0.6;
}

.gallery .modal-footer .btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 10px 15px;
}

.gallery .modal-footer .btn:hover {
  transition: 0.3s;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(238, 238, 238, 1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(238, 238, 238, 1);
  box-shadow: 0px 5px 0px 0px rgba(238, 238, 238, 1);
}

.team {
  background-color: #ff5722;
}

.team .person .person-photo {
  float: left;
  margin-right: 50px;
}

.team .person .person-name {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
}

.team .person-details .position,
.team .person-details .hired-years {
  font-size: 26px;
  text-transform: uppercase;
}

.team .person-details .hired-years:before {
  content: "\00b7";
}

.team .person-details .person-description {
  margin-top: 30px;
  font-size: 24px;
}

.team .carousel .carousel-indicators {
  left: 0;
  margin-left: 0;
  width: 100%;
  text-align: right;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  background: #ffffff;
}

.carousel-indicators .active {
  width: 17px;
  height: 17px;
  border: 3px solid #fff;
  background: #000;
}

.awards {
  background-color: #795548;
}

.awards .nav-tabs {
  border-bottom: 0;
}

.awards .nav-tabs .fa {
  font-size: 110px;
}

.awards .nav-tabs > li > a {
  border: 0;
}

.awards .nav-tabs > li.active > a,
.awards .nav-tabs > li.active > a:hover,
.awards .nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: 0;
}

.awards .nav > li > a:hover,
.awards .nav > li > a:focus {
  background-color: transparent;
}

.awards .nav-tabs a:not([aria-expanded="false"]) .fa-certificate {
  color: #ff5722;
}

.awards .nav-tabs a:not([aria-expanded="false"]) .fa-shopping-bag {
  color: #ffee58;
}

.awards .nav-tabs a:not([aria-expanded="false"]) .fa-cutlery {
  color: #009688;
}

.awards .nav-tabs a:not([aria-expanded="false"]) .fa-heart {
  color: #80deea;
}

.awards .nav-tabs a:not([aria-expanded="true"]) .fa:hover {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  transition: 0.5s;
}

.awards .nav-tabs a:not([aria-expanded="true"]) .fa-certificate {
  color: #d84315;
}

.awards .nav-tabs a:not([aria-expanded="true"]) .fa-shopping-bag {
  color: #fbc02d;
}

.awards .nav-tabs a:not([aria-expanded="true"]) .fa-cutlery {
  color: #00695c;
}

.awards .nav-tabs a:not([aria-expanded="true"]) .fa-heart {
  color: #00bcd4;
}

.awards .award-name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
}

.awards .award-description {
  font-size: 22px;
  padding-top: 20px;
}

.reviews {
  background-color: #4caf50;
}

.reviews blockquote {
  margin-bottom: 0;
  border-left: 0;
}

.reviews blockquote .media-heading {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.reviews blockquote .media-heading:before {
  content: "\223C";
}

.contact {
  background-color: #616161;
  padding-bottom: 20px;
}

.contact .contact-info {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.contact .mapa {
  max-height: 280px;
  border: 0;
  padding: 0;
  margin: 0 0 20px;
}

.contact .container-fluid {
  padding: 0;
}

@media (max-width: 768px) {
  .heading > .content-title {
    font-size: 48px;
  }

  .navbar-right li > a:before {
    margin: 0;
    content: "";
    position: static;
  }

  .navbar .navbar-brand {
    padding: 10px 15px;
  }

  .team .carousel .carousel-indicators {
    left: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
    position: static;
  }

  .team .person .person-photo {
    float: none;
    margin: 0 auto;
    width: 50%;
  }

  .team .person .person-info {
    text-align: center;
  }

  .team .person .person-description {
    font-size: 18px;
  }

  .team .item.person.active {
    min-height: 580px;
  }

  .team {
    padding-bottom: 50px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
